# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Directories
node_modules/
.cache/
.vscode/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# IDE
.idea/
*.swp
*.swo